.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  > .breadcrumb-item {
    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      content: '>';
      color: hsla(0, 0%, 90%, 1);
      margin-left: 1rem;
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: hsla(197, 6%, 56%, 1);
    }

    span {
      color: hsla(0, 0%, 90%, 1);
    }
  }
}