@use '../../../assets/mixin' as *;
@use '../../../assets/variables' as *;
@use '../../../assets/_color' as *;

:host {
  border-radius: 5px;
  border: 1.5px solid $neon-900;
  cursor: pointer;

  &.tag-list-style {
    @include default-text-style($font-size: 1.2rem, $color: $neon-900);
    @include container-padding($padding-x: 12px, $padding-y: 5px);
  }

  &.tag-grid-style {
    @include default-text-style($font-size: 1rem, $color: $neon-900);
    @include container-padding($padding-x: 10px, $padding-y: 5px);
  }

      &:hover {
      background-color: $neon-900;
      color: $white;
    }
}
