@use 'assets/styles/mixins' as *;
@use 'assets/styles/colors' as *;
@use 'assets/styles/icons' as *;

:host{
  @include default-flex($direction: row, $justify: space-between);
  padding: 0 1.2rem;
  @include freeze($top: 0, $left: 0, $right: 0);

  >.logo{
    @include space();
    @include default-container($width:25rem, $height:10rem);
    background-image:  $icon-logo;
    cursor: pointer;
  }

  >.navbar-and-feature{
    @include default-flex($direction: row, $justify:space-around);
    @include default-container($width:68rem, $height:auto);

    > .navbar{
      @include default-flex($direction: row, $gap:2.4rem);
      span {
        @include hover-text-style();
        display: inline-block;
        padding-bottom: 0.7rem;
        position: relative;
        text-align: center;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: .3rem;
          width: 100%;
          background-color: $gray-50;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease;
        }

        &.active::after,
        &:hover::after {
          transform: scaleX(1); // ✅ 展開
        }
      }
    }

    >.feature{
      @include default-flex($direction: row, $gap:2rem);
      fa-icon {
        @include hover-text-style($font-size: 1.8rem);
      }
    }
  }
}