<guangxun-dialog-shell>
  <div dialog-header>
    <guangxun-shell-header [title]="data.header.title" [type]="data.type" (close)="onDialogClose()">
    </guangxun-shell-header>
  </div>
  <div dialog-content>
    <guangxun-shell-content
      [type]="data.type"
      [content]="data.content ?? { type: 'text', text: '' }"
    ></guangxun-shell-content>
  </div>

  <div dialog-footer>
    <guangxun-shell-footer
      [type]="data.type"
      [buttons]="data.footer.buttons ?? []"
      (close)="onDialogClose()"
    ></guangxun-shell-footer>
  </div>
</guangxun-dialog-shell>
