.pagination-container {
  width: 100%;
  padding: 0.5rem 0;
  //font-size: 1.2rem;
}

.pagination-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.pagination-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  pagination-controls {
    display: flex;
    align-items: center;
  }
}

.page-size-selector {
  display: flex;
  align-items: center;

  select {
    margin: 0 0.5rem;
    padding: 0.2rem 0.4rem;
  }
}

.pagination-inner {
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-end; // 讓 dropdown 靠右
    gap: 0.5rem;
  }
}

// 覆蓋因為 ngx-pagination 中設定的 margin-bottom:1rem，造成無法垂直致中的狀況
::ng-deep .ngx-pagination {
  margin-bottom: 0rem !important;
  display: flex;
  gap: 1rem;
}
