@use '../../assets/mixin' as *;
@use '../../assets/variables' as *;
@use '../../assets/color' as *;

button {
  @include default-container($width: auto, $height: 100%);
  @include container-padding($padding-x: 18px, $padding-y: 10px);
  @include default-text-style($font-size: 1.8rem, $color: $btn-blue-900);
  border: 2px solid $btn-blue-900;
  border-radius: 8px;

  &:hover {
    background-color: $btn-blue-900;
    color: $white;
  }
}
