@use 'assets/styles/_mixins.scss' as *;
@use 'assets/styles/_colors.scss' as *;
@use 'assets/styles/_icons.scss' as *;

@mixin pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 1rem;
}

:host {
  @include default-container($width: 100%, $height: auto);
  @include default-flex($direction: column, $gap: 1rem);
  @include container-padding($padding-x: 1rem, $padding-y: 5rem);

  > .content-container {
    @include default-container($width: 100%, $height: auto);
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 2rem;

    > .side-bar {
      @include default-container($width: 100%, $height: auto);
    }

    & .inside {
      @include default-flex($direction: column, $align: none, $gap: 2rem);
    }
  }
}

guangxun-products {
  background-color: $primary-500;
}

::ng-deep {
  .paginationContainer {
    @include default-text-style($font-size: 1.4rem, $font-weight: 500);
  }

  .paginationCenter {
    .ngx-pagination {
      color: $btn-blue-50;
      align-items: center;

      .disabled {
        padding: 0.5rem 1.5rem;
      }

      li:not(:first-child):not(:last-child) {
        a {
          @include pagination-item;
        }
        a:hover {
          background-color: $btn-blue-50;
        }

        &.current {
          @include pagination-item;
          background-color: $liver-red-500;
          color: white;
          font-weight: bold;
        }
      }

      li:first-child,
      li:last-child {
        a {
          padding: 0.5rem 1.5rem;
          border-radius: 1.2rem;
        }
        a:hover {
          background-color: $btn-blue-50;
        }
      }
    }
  }

  .pageSizeSelector {
    @include default-text-style($color: $neon-500);
  }
}
