<div class="title-container">
  <span>服務與產品</span>
</div>
<div class="content-container">
  <!-- side-bar -->
  <div class="side-bar">
    <guangxun-side-bar
      [treeData]="treeData$ | async"
      (nodeClick)="onSidebarNodeClick($event)"
    ></guangxun-side-bar>
  </div>
  <!-- content-container -->
  <div class="content-container inside">
    <div class="search-bar-container">
      <guangxun-search-bar
        [showFilter]="false"
        (keywordChanged)="onKeywordChange($event)"
        (searchTriggered)="onSearchTriggered($event)"
      ></guangxun-search-bar>
    </div>
    @if (dataSource$ | async; as dataSource) {
      <div class="card-container">
        <guangxun-products
          [dataSource]="{
            arrangeType: dataSource.arrangeType,
            card:
              dataSource.card
              | paginate: { itemsPerPage: limit, currentPage: pageIndex, id: 'pagination' },
          }"
        ></guangxun-products>
      </div>
    }
    <div class="pagination-content-container">
      <guangxun-pagination
        [paginationClassMap]="{
          paginationContainer: 'paginationContainer',
          paginationCenter: 'paginationCenter',
          pageSizeSelector: 'pageSizeSelector',
        }"
        [pageIndex]="pageIndex"
        [limit]="limit"
        [total]="total"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      ></guangxun-pagination>
    </div>
  </div>
</div>
