<ng-container *ngFor="let btn of buttons">
  <button
    *ngIf="btn.type === DialogButtonType.SUBMIT"
    class="dialog-button dialog-submit-button"
    color="primary"
    (click)="btn.action?.()"
  >
    {{ btn.label }}
  </button>

  <button
    *ngIf="btn.type === DialogButtonType.CONFIRM"
    class="dialog-button dialog-confirm-button"
    mat-raised-button
    color="primary"
    (click)="close.emit()"
  >
    {{ btn.label }}
  </button>

  <button
    *ngIf="btn.type === DialogButtonType.CANCEL"
    class="dialog-button dialog-cancel-button"
    mat-stroked-button
    (click)="close.emit()"
  >
    {{ btn.label }}
  </button>
</ng-container>
