@use 'assets/styles/_mixins.scss' as *;
@use 'assets/styles/_colors.scss' as *;

:host {
  @include base-container(
    $align: flex-start,
    $direction: column,
    $background-color: $gray-50,
    $gap: 0.5rem,
    $border-radius: 0.5rem,
    $padding-x: 1.5rem,
    $padding-y: 1.5rem
  );
  @include default-container($width: 100%, $height: auto);
  @include default-text-style($font-size: 1.6rem, $font-weight: 500, $color: $primary-500);
}
