// logo
$icon-logo: url('/assets/images/logo.png');

// --- mock 圖片 start ---
$mock-home-page-product: url('/assets/images/mock/mock_product.jpeg');

// --- mock 圖片 end ---

$about-building_01: url('/assets/images/about_building_01.jpg');
$about-building_02: url('/assets/images/about_building_02.jpg');
$about-building_03: url('/assets/images/about_building_03.jpg');