// logo
$icon-logo: url('/assets/images/logo.png');

// --- mock 圖片 start ---
$mock-home-page-product: url('/assets/images/mock/mock_product.jpeg');

// --- mock 圖片 end ---

// --- 關於我們 圖片 start ---
$about-building_01: url('/assets/images/about_building_01.jpg');
$about-building_02: url('/assets/images/about_building_02.jpg');
$about-building_03: url('/assets/images/about_building_03.jpg');
// --- 關於我們 圖片 end ---

// --- 聯絡我們 圖片 start ---
$content_us_01: url('/assets/images/content_us_01.jpg');
$content_us_02: url('/assets/images/content_us_02.jpg');
// --- 聯絡我們 圖片 end ---
