@use 'variables' as *;

// ----- 空間 start -----
@mixin space($background-image: '', $background-size: contain) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: $background-size;
  background-image: $background-image;
}

@mixin container-padding($padding-x: 0, $padding-y: 0) {
  padding: $padding-y $padding-x;
}

@mixin container-margin($margin-x: 0, $margin-y: 0) {
  margin: $margin-y $margin-x;
}

// ----- 空間 end -----

// ----- 排版 start -----

//基礎排版
@mixin default-flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

//固定位置
@mixin freeze(
  $position: fixed,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $z-index-key: header
) {
  position: $position;

  // 只有有設定才輸出（避免無意間蓋掉樣式）
  @if $top != auto {
    top: $top;
  }

  @if $right != auto {
    right: $right;
  }

  @if $bottom != auto {
    bottom: $bottom;
  }

  @if $left != auto {
    left: $left;
  }

  z-index: z($z-index-key);
}

// ----- 排版 over-----

@mixin default-container($width: 0, $height: 0) {
  width: $width;
  height: $height;
}

@mixin base-container(
  $justify: center,
  $align: center,
  $direction: row,
  $gap: 0,
  $background-color: transparent,
  $border-radius: 0,
  $width: 0,
  $height: 0,
  $padding-x: 0,
  $padding-y: 0
) {
  border-radius: $border-radius;
  background-color: $background-color;
  @include default-flex($justify, $align, $direction, $gap);
  @include default-container($width: 100%, $height: auto);
  @include container-padding($padding-x, $padding-y);
}

@mixin default-container-limit($min-width: 0, $max-width: 0, $min-height: 0, $max-height: 0) {
  min-width: $min-width;
  max-width: $max-width;
  min-height: $min-height;
  max-height: $max-height;
}

@mixin default-text-style($font-size: 1.6rem, $font-weight: 500, $color: black) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

// ----- 按鈕 start -----

//滑鼠移動時的文字樣式
@mixin hover-text-style(
  $font-size: 1.6rem,
  $font-weight: 500,
  $hover-color: hsla(0, 0%, 96%, 1),
  $hover-weight: 900,
  $active-weight: 900
) {
  font-size: $font-size;
  font-weight: $font-weight;

  &:hover {
    color: $hover-color;
    cursor: pointer;
    font-weight: $hover-weight;
  }

  &.active {
    color: $hover-color;
    font-weight: $active-weight;
  }
}
