@use '_mixins' as *;
@use '_colors' as *;

.title-container {
  @include default-container($width: 100%, $height: auto);
  @include default-flex($direction: row, $justify: flex-start);
  @include container-padding($padding-x: 0, $padding-y: 1.3rem);

  > span {
    font-size: 3.6rem;
    font-weight: 600;
    color: $gray-100;
  }
}

.base-button {
  @include container-padding($padding-x: 1.4rem, $padding-y: 0.4rem);
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;

  &.submit-button {
    color: $btn-blue-900;
    border: 2px solid $btn-blue-900;
    &:hover {
      background-color: $btn-blue-900;
      color: $btn-blue-50;
    }
  }

  &.clear-button {
    color: $liver-red-500;
    border: 2px solid $liver-red-500;
    &:hover {
      background-color: $liver-red-500;
      color: $liver-red-50;
    }
  }
}
