@use 'assets/styles/mixins' as *;
@use 'assets/styles/colors' as *;
@use 'assets/styles/icons' as *;

:host {
  @include default-flex($direction: column);
  margin-top: 1rem;

  > .block {
    @include default-container($width: 100%, $height: auto);
    font-size: 1.5rem;

    &.block-top {
      @include default-flex($direction: row, $justify: space-between);
    }

    &.block-bottom {
      @include default-flex($direction: row, $justify: space-between);
    }

    > .logo-with-address {
      @include default-flex($direction: row, $gap: 2rem);
      > .logo {
        @include space();
        @include default-container($width: 20rem, $height: 8rem);
        background-image: $icon-logo;
      }
    }

    > .social-media-links {
      @include default-flex($direction: row, $gap: 2rem);
      font-size: 2.2rem;
      a {
        &:hover {
          color: $gray-50;
        }
      }
    }

    > .privacy-policy {
      @include default-flex($direction: row);

      a {
        &:not(:last-child) .text {
          border-right: 0.2rem solid $gray-50;
        }
        &:hover {
          color: $gray-50;
        }

        .text {
          padding: 0 1rem;
        }
      }
    }
  }

  > mat-divider {
    @include default-container($width: 100%, $height: 0.1rem);
    margin: 2rem 0 !important;
  }
}
