@use 'assets/styles/_mixins.scss' as *;
@use 'assets/styles/_variables.scss' as *;
@use 'assets/styles/_colors.scss' as *;
@use 'assets/styles/_override.scss' as *;

:host {
  @include default-flex($direction: column, $justify: center, $align: normal);
  @include default-container($width: 100%, $height: auto);
}
.content-container {
  @include default-flex($direction: column, $justify: center, $align: normal, $gap: 2rem);

  .loading-container {
    @include default-flex($direction: column, $justify: center, $align: center);
    padding: 2rem;

    p {
      @include default-text-style($font-size: 1.6rem, $font-weight: 500, $color: $primary-600);
    }
  }

  .error-container {
    @include container-padding($padding-x: 2rem, $padding-y: 1rem);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 0.8rem;
    margin-bottom: 1rem;

    p {
      margin: 0;
      @include default-text-style($font-size: 1.4rem, $font-weight: 400);
    }
  }

  > mat-tab-group {
    @include container-padding($padding-x: 2rem, $padding-y: 1rem);
    background-color: $gray-50;
    border-radius: 0.8rem;
    background-color: $primary-800;
  }
}

::ng-deep {
  .mdc-tab__content {
    @include default-text-style($font-size: 1.6rem, $font-weight: 500, $color: $gray-50);
  }
}
